/.bundle
/vendor/bundle
/db/*.sqlite3
/log/*.log
/tmp
.DS_Store
/coverage
/pkg

# local settings
/.rbenv-version
/config/settings/*.yml
!/config/settings/environment.sample.yml
/config/database.yml
/config/initializers/secret_token.rb
/local
