<%- model_class = Host -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize %></h1>
</div>

<%= render partial: 'shared/hosts', locals: { hosts: @hosts } %>
<%= link_to t('.new', default: t("helpers.links.new")),
            new_host_path,
            class: 'btn btn-primary' %>
