<%= form_for @role, html: { class: 'form-horizontal' } do |f| %>
<%= f.text_field :name, class: 'text_field' %>
<%= f.text_area :description, class: 'text_area' %>
<div class="form-actions">
  <%= f.submit nil, class: 'btn btn-primary' %>
</div>
<% end %>
