/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@font-face {
  font-family: 'LigatureSymbols';
  src: url('./ligature_symbols/LigatureSymbols-2.07.eot');
  src: url('./ligature_symbols/LigatureSymbols-2.07.eot?#iefix') format('embedded-opentype'),
       url('./ligature_symbols/LigatureSymbols-2.07.woff') format('woff'),
       url('./ligature_symbols/LigatureSymbols-2.07.ttf') format('truetype'),
       url('./ligature_symbols/LigatureSymbols-2.07.svg#LigatureSymbols') format('svg');
  src: url('./ligature_symbols/LigatureSymbols-2.07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: underline !important;
}

.navbar a {
  text-decoration: none !important;
}

a.btn {
  text-decoration: none !important;
}

a.brand:hover {
  background-color: transparent;
}

a.btn-primary:link,
a.btn-primary:visited,
a.btn-danger:link,
a.btn-danger:visited,
a.btn-warning:link,
a.btn-warning:visited,
a.btn-success:link,
a.btn-success:visited,
a.btn-info:link,
a.btn-info:visited,
a.btn-inverse:link,
a.btn-inverse:visited,
{
  color: #fff
}

.more {
  text-align: right;
  margin-right: 10%;
}
